body {
  font-family: $TTCommons;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: var(--color-dark);
  background-color: var(--color-white);
  position: relative;
  overflow-x: hidden;

  &.no-scroll {
    overflow: hidden;
  }
}

.container {
  max-width: $bp-container;
  padding: 0px 15px;
  margin: 0 auto;

  &--1600 {
    max-width: 1600px;
    padding: 0;
  }
}

.container-fluid {
  max-width: 1920px;
  padding: 0px 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 10;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(5px);
  transition: 200ms ease-in;

  &.active {
    opacity: 1;
    visibility: visible;
    transition-delay: 550ms ease;
  }
}

.section-title {
  font-family: $Exo2;
  @include adaptive-value('font-size', 30, 26, 1);
}

.btn {
  padding: 13px 25px;
  line-height: 1;
  border: 1px solid transparent;
  color: var(--color-white);
  background-color: var(--color-accent);
  font-weight: 600;
  display: inline-block;
  max-width: 100%;
  transition: background-color 150ms ease, color 150ms ease,
    border-color 150ms ease;
  border-radius: 5px;

  &:hover {
    background-color: var(--color-white);
    color: var(--color-accent);
    border-color: var(--color-accent);
  }

  &:active {
    transform: scale(0.98);
  }

  &--transparent {
    background-color: var(--color-white);
    border-color: var(--color-accent);
    color: var(--color-dark);

    &:hover {
      background-color: var(--color-accent);
      color: var(--color-white);
      border-color: transparent;
    }
  }
}

.map {
  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}
.fancybox__thumbs .carousel__slide {
  .fancybox__thumb {
    background-size: contain;
  }
}

input[type='file'] {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.mixitup-control-active {
  color: var(--color-white) !important;
  background-color: var(--color-accent) !important;
}
