.breadcrumbs {
  @include adaptive-value('margin-bottom', 40, 25, 1);
  margin-top: 20px;
  display: block;

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 7px;
      padding-right: 14px;
      transition: 150ms;

      &::after {
        @include elDef();
        width: 8px;
        height: 7px;
        top: 50%;
        transform: translateY(-50%) rotate(-90deg);
        right: 0;
        @include maskImage(url('../images/icons/chevron.svg'), contain);
        background-color: var(--color-dark);
      }
    }
  }

  &__link {
    display: block;
    font-size: 16px;
    position: relative;
    transition: 150ms;
    color: var(--color-dark);

    &--active,
    &:hover {
      color: var(--color-accent);
    }
  }
}
