.calculator {
  &__title {
    @include adaptive-value('margin-bottom', 45, 30, 1);
  }
  &__wrapper {
    border: 2px solid var(--color-bg);
    border-radius: 20px;
    padding: 50px 60px;
  }
}

.form-calculator {
  &__group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.range-slider{
  .noUi-target {
    background-color: #c1c1c1;
    border: none;
    box-shadow: none;
    height: 5px;
    width: 100%;
  }

  .noUi-connect {
    background-color: var(--color-accent);
  }

  .noUi-horizontal {
    .noUi-handle {
      box-shadow: none;
      width: 19px;
      height: 19px;
      border-radius: 50%;
      background-color: var(--color-accent);
      top: -8px;
      cursor: pointer;

      &:active,
      &:hover {
        border: 2px solid var(--color-accent);
        background-color: var(--color-white);
      }

      &::after,
      &::before {
        display: none;
      }
    }
  }
}