.contacts-page {
  position: relative;
  @include adaptive-value('padding-bottom', 60, 30, 1);
  min-height: 580px;

  &__offer {
    max-width: 350px;
    @include adaptive-value('padding-top', 55, 30, 1);

    @include breakpointsMaxW($bp-768) {
      max-width: 100%;
    }
  }

  &__wrapper {
    min-height: 580px;

    @include breakpointsMaxW($bp-768) {
      min-height: auto;
      margin-bottom: 20px;
    }
  }

  &__title {
    @include adaptive-value('margin-bottom', 65, 35, 1);
  }

  &__warn {
    padding-left: 25px;
    position: relative;
    font-size: 17px;
    color: #3d3d3d;

    &::after {
      @include elDef();
      width: 14px;
      height: 24px;
      background-color: var(--color-accent);
      top: 0;
      left: 0;
      @include maskImage(url('../images/icons/warn.svg'), contain);
    }
  }

  &__socials {
    @include adaptive-value('margin-bottom', 40, 30, 1);
  }

  &__address,
  &__phone,
  &__mail {
    font-size: 19px;
    padding-left: 51px;
    margin-bottom: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include breakpointsMaxW($bp-768) {
      margin-bottom: 25px;
    }
  }

  &__address {
    .contacts-page__icon {
      &::after {
        width: 15px;
        height: 13px;
        @include maskImage(url('../images/icons/location.svg'), contain);
      }
    }
  }
  &__phone {
    .contacts-page__icon {
      &::after {
        @include maskImage(url('../images/icons/phone.svg'), contain);
      }
    }
  }
  &__mail {
    .contacts-page__icon {
      &::after {
        width: 15px;
        height: 13px;
        @include maskImage(url('../images/icons/email.svg'), contain);
      }
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    border: 1px solid var(--color-bg);
    border-radius: 50%;

    &::after {
      @include elDef();
      width: 12px;
      height: 12px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: var(--color-accent);
    }
  }

  &__name {
    display: block;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 5px;
  }

  &__btn {
    font-weight: 700;
    color: var(--color-accent);
    padding: 17px 27px;
  }

  &__socials {
    margin-bottom: 0;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 17px;
    @include adaptive-value('margin-bottom', 50, 30, 1);

    @include breakpointsMaxW($bp-360) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__map {
    position: absolute;
    right: 0;
    top: 0;
    height: calc(100% - 60px);
    width: 62%;

    @include breakpointsMaxW($bp-991) {
      width: 50%;
    }

    @include breakpointsMaxW($bp-768) {
      height: calc(350px + (450 - 350) * ((100vw - 375px) / (768 - 375)));
      position: static;
      width: 100%;
    }
  }
}
