.contacts {
  @include adaptive-value('padding-top', 75, 35, 1);
  @include adaptive-value('margin-bottom', 45, 35, 1);

  &__top {
    max-width: 565px;
    margin: 0 auto;
    text-align: center;
    @include adaptive-value('margin-bottom', 42, 20, 1);
  }

  &__title {
    @include adaptive-value('margin-bottom', 35, 20, 1);
  }

  &__text {
    font-size: 18px;
    color: #5c5c5c;
  }

  &__list {
    @include adaptive-value('padding-top', 35, 20, 1);
    @include adaptive-value('margin-bottom', 35, 20, 1);
    border-top: 1px solid #e7e7e7;
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    gap: 10px;

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: repeat(2, auto);
      justify-content: center;
      gap: 30px;
    }

    @include breakpointsMaxW($bp-576) {
      grid-template-columns: minmax(auto, 300px);
      justify-content: center;
    }
  }

  &__item {
    @include breakpointsMaxW($bp-576) {
      &:last-child {
        margin: 0 auto;
      }
    }
  }

  &__link {
    display: block;
    padding-left: 51px;
    position: relative;
    line-height: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    @include adaptive-value('font-size', 19, 16, 1);
    gap: 5px;

    &--phone {
      font-size: 25px;
      @include adaptive-value('font-size', 22, 20, 1);

      &:hover {
        color: var(--color-accent);
        .contacts__name {
          color: var(--color-dark);
        }
      }

      .contacts__icon {
        &::after {
          @include maskImage(url('../images/icons/phone.svg'), contain);
        }
      }
    }

    &--location {
      .contacts__icon {
        &::after {
          @include maskImage(url('../images/icons/location.svg'), contain);
        }
      }
    }

    &--mail {
      &:hover {
        color: var(--color-accent);

        .contacts__name {
          color: var(--color-dark);
        }
      }
      .contacts__icon {
        &::after {
          @include maskImage(url('../images/icons/email.svg'), contain);
        }
      }
    }
  }

  &__name {
    font-size: 15px;
    font-weight: 700;
  }

  &__icon {
    position: absolute;
    width: 35px;
    height: 35px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border-radius: 50%;
    transition: 150ms ease;
    border: 1px solid #dcdcdc;

    &::after {
      transition: 150ms ease;
      @include elDef();
      width: 12px;
      height: 12px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: var(--color-accent);
    }
  }

  &__button {
    font-size: 17px;
    font-weight: 700;
    color: var(--color-accent);
    max-width: 180px;
    border-radius: 10px;

    // @include breakpointsMaxW($bp-576){
    //   margin: 0 auto;
    // }
  }

  &__map {
    @include adaptive-value('height', 472, 350, 1);
  }
}
