.destinations {
  padding-bottom: 20px;

  &__top {
    text-align: center;
    @include adaptive-value('margin-bottom', 50, 40, 1);
  }

  &__title {
    @include adaptive-value('font-size', 35, 25, 1);
    font-weight: 500;
    margin-bottom: 10px;

    &--main {
      font-weight: 900;
      @include adaptive-value('margin-bottom', 40, 25, 1);
    }
  }

  &__text {
    font-size: 17px;
    color: #949494;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    @include adaptive-value('gap', 30, 10, 1);

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: repeat(4, 1fr);
    }
    @include breakpointsMaxW($bp-768) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include breakpointsMaxW($bp-576) {
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
    }
  }

  &__item {
    max-width: 222px;
    width: 100%;
    @include adaptive-value('height', 181, 163, 1);
    font-size: 17px;
    background-color: var(--color-white);
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    gap: 10px;
    transition: 150ms ease;

    &:hover {
      background-color: var(--color-accent);

      .destinations__heading {
        color: var(--color-white);
        font-weight: 700;
      }

      .destinations__img {
        border-color: var(--color-white);
        background-color: var(--color-accent);

        svg {
          fill: var(--color-white);
        }
      }
    }
  }

  &__heading {
    font-size: 17px;
    font-weight: 400;
    transition: 150ms ease;
  }

  &__img {
    width: 98px;
    height: 98px;
    background-color: #fff8ea;
    border: 1px solid transparent;
    transition: 150ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    svg {
      fill: var(--color-accent);
      @include adaptive-value('height', 51, 35, 1);
      @include adaptive-value('width', 51, 35, 1);
    }

    @include adaptive-value('width', 100, 70, 1);
    @include adaptive-value('height', 100, 70, 1);
  }

  .form-search {
    @include adaptive-value('margin-bottom', 50, 30, 1);
  }
}
