.reviews-form {
  &__title {
    text-align: center;
    @include adaptive-value('margin-bottom', 50, 40, 1);
  }
  &__form {
    max-width: 870px;
    width: 100%;
    margin: 0 auto;
    border: 2px solid var(--color-bg);
    padding: 45px 50px;
    border-radius: 20px;

    @include adaptive-value('padding-top', 45, 15, 1);
    @include adaptive-value('padding-bottom', 45, 15, 1);
    @include adaptive-value('padding-left', 45, 15, 1);
    @include adaptive-value('padding-right', 45, 15, 1);

    .form-request {
      &__group {
        &--textarea {
          grid-column: 1/-1;

          .form-request__input {
            min-height: 140px;
          }
        }
      }
    }
  }
}
