.hero {
  &__slider {
    padding-bottom: 50px;
  }
  &__slide {
    box-sizing: border-box;
    height: 530px;
    @include adaptive-value('height', 530, 430, 1);
    background-image: url('../images/content/hero-slider/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    @include breakpointsMaxW($bp-768) {
      background-image: url('../images/content/hero-slider/1-small.jpg');
      background-size: cover;
    }
  }

  &__wrapper {
    height: 100%;
    @include adaptive-value('padding-top', 130, 50, 1);

    @include breakpointsMaxW($bp-768) {
      padding-top: 45px;
    }
  }

  &__offer {
    max-width: 410px;
    color: var(--color-white);

    @include breakpointsMaxW($bp-768) {
      max-width: 100%;
      text-align: center;
    }
  }

  &__title {
    font-family: $Exo2;
    font-size: 50px;
    font-weight: 900;
    line-height: 1.1;
    @include adaptive-value('font-size', 50, 25, 1);
    @include adaptive-value('margin-bottom', 20, 10, 1);
  }

  &__text {
    @include adaptive-value('margin-bottom', 45, 20, 1);
    @include adaptive-value('font-size', 19, 15, 1);
  }

  &__btn {
    border-radius: 10px;
    position: relative;
    padding-right: 50px;
    @include adaptive-value('font-size', 18, 14, 1);

    &:hover {
      &::after {
        background-color: var(--color-accent);
      }
    }

    &::after {
      @include elDef();
      width: 24px;
      height: 16px;
      top: 50%;
      right: 18px;
      transform: translateY(-50%);
      @include maskImage(url('../images/icons/arrow-right.svg'), contain);
      background-color: var(--color-white);
      transition: 150ms ease;
    }
  }
}
