.menu {
  width: 100%;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    position: relative;
  }

  &__link {
    display: block;
    position: relative;
    font-weight: 600;
    transition: 150ms ease;
    font-size: 18px;

    &:hover {
      color: var(--color-accent);
    }

    &--dropdown {
      &:hover {
        & + .dropmenu {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }

      padding-right: 15px;

      &::after {
        @include elDef();
        width: 8px;
        height: 4px;
        right: 0;
        top: 35%;
        transform: translateY(-50%);
        @include maskImage(url('../images/icons/chevron.svg'), 100%);
        background-color: var(--color-dark);
      }
    }
  }

  .dropmenu {
    transform: translateY(-10px);
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    width: 234px;
    position: absolute;
    left: 0;
    bottom: -105px;
    background-color: var(--color-white);
    box-shadow: 0px 19px 51px 0px rgba(53, 56, 62, 0.23);
    border-radius: 10px;
    padding: 0 21px;
    transition: 450ms ease;
    transition-delay: 150ms;

    &:hover {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }

    &__item {
      border-bottom: 1px solid #ebebeb;

      &:last-child {
        border-bottom: none;
      }
    }

    &__link {
      display: block;
      width: 100%;
      color: var(--color-dark);
      padding: 12px 0;
      transition: 150ms ease;
      position: relative;
      font-weight: 600;

      &:hover {
        & + .submenu {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }

      &::after {
        @include elDef();
        width: 10px;
        height: 10px;
        right: 0;
        top: 50%;
        transform: translateY(-50%) rotate(-90deg);
        @include maskImage(url('../images/sprite.svg#chevron'), 100%);
        background-color: #d0d0d0;
        transition: 150ms ease;
      }

      &:hover {
        color: var(--color-accent);

        &::after {
          background-color: var(--color-accent);
          transform: translateY(-50%) translateX(3px) rotate(-90deg);
        }
      }
    }
  }

  .submenu {
    transform: translateX(-30px);
    opacity: 0;
    visibility: hidden;
    z-index: 3;
    width: 235px;
    position: absolute;
    right: -245px;
    top: 0;
    background-color: var(--color-white);
    box-shadow: 0px 19px 51px 0px rgba(53, 56, 62, 0.23);
    border-radius: 10px;
    padding: 0 21px;
    transition: 450ms ease;
    transition-delay: 150ms;

    &--cats {
      width: 290px;
      right: -300px;
    }

    &:hover {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }

    &__item {
      border-bottom: 1px solid #ebebeb;

      &:last-child {
        border-bottom: none;
      }
    }

    &__link {
      display: block;
      width: 100%;
      color: var(--color-accent);
      padding: 12px 0;
      transition: 150ms ease;
      position: relative;
      font-weight: 600;

      &::after {
        @include elDef();
        width: 10px;
        height: 10px;
        right: 0;
        top: 50%;
        transform: translateY(-50%) rotate(-90deg);
        @include maskImage(url('../images/sprite.svg#chevron'), 100%);
        background-color: #d0d0d0;
        transition: 150ms ease;
      }

      &:hover {
        color: var(--color-accent);

        &::after {
          background-color: var(--color-accent);
          transform: translateY(-50%) translateX(3px) rotate(-90deg);
        }
      }
    }
  }
}
