.price-list {
  @include adaptive-value('padding-bottom', 40, 30, 1);

  .choices {
    background-color: var(--color-white);
    
    &__item {
      background-color: var(--color-white);
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    line-height: 1;
    @include adaptive-value('margin-bottom', 45, 30, 1);

    @include breakpointsMaxW($bp-991) {
      flex-direction: column;
      align-items: center;
      width: 100%;
      text-align: center;
    }
  }

  &__title {
    @include adaptive-value('font-size', 35, 25, 1);
  }

  &__right {
    flex: 1 auto;
    background-color: var(--color-bg);
    font-size: 19px;
    font-weight: 500;
    color: #8d8d8d;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 8px 8px 25px;
    border-radius: 10px;
    gap: 20px;

    @include breakpointsMaxW($bp-991) {
      width: 100%;
    }
  }

  &__select {
    max-width: 600px;
    width: 100%;
    padding: 16px;
    border-radius: 10px;
    border: none;
  }

  &__choose {
    flex-shrink: 0;
  }

  &__list {
    @include adaptive-value('margin-bottom', 70, 40, 1);
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    font-size: 17px;
    color: #565656;
    padding: 22px 28px;
    @include adaptive-value('padding-top', 28, 15, 1);
    @include adaptive-value('padding-bottom', 28, 15, 1);
    @include adaptive-value('padding-left', 22, 12, 1);
    @include adaptive-value('padding-right', 22, 12, 1);
    &:nth-child(odd) {
      background-color: var(--color-bg);
    }
  }

  &__head {
    background-color: var(--color-accent);
    color: var(--color-white);
    text-transform: uppercase;
    padding: 22px 28px;
    font-size: 19px;
    font-weight: 700;
    border-radius: 10px 10px 0px 0px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    @include adaptive-value('font-size', 19, 16, 1);

    @include adaptive-value('padding-top', 28, 15, 1);
    @include adaptive-value('padding-bottom', 28, 15, 1);
    @include adaptive-value('padding-left', 22, 12, 1);
    @include adaptive-value('padding-right', 22, 12, 1);
  }

  &__price {
    font-weight: 600;
    flex-shrink: 0;
  }

  &__btn {
    max-width: 300px;
    width: 100%;
    display: block;
    margin: 0 auto;
  }
}
