<section class="calculator">
  <div class="container">
    <h1 class="calculator__title section-title">Калькулятор рассрочки</h1>

    <div class="calculator__wrapper">
      <form class="calculator__form form-calculator">
        <div class="form-calculator__group">
          <label for="">Сумма услуги</label>
          <input type="range" />
        </div>
        <div class="form-calculator__group">
          <div class="filter-block__slider">
            <p class="filter-block__slider-text filter-block__slider-text--sum">50000</p>
            <div class="filter-block__inputs">
              <label class="filter-block__label">
                <input class="filter-block__input input-price" type="number" />
              </label>
            </div>
            <div
              class="filter-block__range range-slider range-slider--price"
            ></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
