<section class="contacts-info">
  <div class="container">
    <div class="contacts-info__wrapper">
      <h2 class="contacts-info__title">
        Телефоны и адреса <br />
        контролирующих организаций
      </h2>
      <div class="contacts-info__text">
        <p>
          Управление Федеральной антимонопольной службы по Республике Карелия:
          185031, Республика Карелия, г. Петрозаводск, наб. Варкауса, 1А,
          каб.518 телефон: (8142) 78-44-30
        </p>

        <p>
          Управление Росздравнадзора по Республике Карелия: 185035, Республика
          Карелия, г. Петрозаводск, ул. Анохина, 29а телефон: (8142) 78-54-02
        </p>

        <p>
          Федеральное государственное учреждение здравоохранения "Центр гигиены
          и эпидемиологии в Республике Карелия": 185035, Республика Карелия, г.
          Петрозаводск, ул. Пирогова, 12, телефон: (8142) 75-03-99
        </p>

        <p>
          Министерство здравоохранения и социального развития Республики
          Карелия: 185035, Республика Карелия, г. Петрозаводск, пр. Ленина, 6
          телефон: (8142) 79-29-61
        </p>

        <p>
          Управление Федеральной службы по надзору в сфере защиты
          правпотребителей и благополучия человека по Республике Карелия:
          185003,Республика Карелия, г. Петрозаводск, ул. Володарского, д. 26
          телефон: (8142) 57-23-39
        </p>
      </div>
    </div>
  </div>
</section>
