<section class="destinations">
  <div class="container">
    <h1 class="destinations__title destinations__title--main section-title">
      Направления
    </h1>

    <form class="form-search">
      <div class="form-search__group">
        <input
          class="form-search__input"
          type="text"
          placeholder="Введите название услуги..."
        />
        <div class="form-search__actions">
          <select class="form-search__select select" name="" id=""></select>
          <button class="form-search__btn btn" type="submit">Найти</button>
        </div>
      </div>
    </form>

    <ul class="destinations__list">
      <li class="destinations__item">
        <div class="destinations__img"></div>
        <h3 class="destinations__heading"><a href="#"> Проктология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img"></div>
        <h3 class="destinations__heading"><a href="#"> Проктология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img"></div>
        <h3 class="destinations__heading"><a href="#"> Проктология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img"></div>
        <h3 class="destinations__heading"><a href="#"> Проктология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img"></div>
        <h3 class="destinations__heading"><a href="#"> Проктология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img"></div>
        <h3 class="destinations__heading"><a href="#"> Проктология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img"></div>
        <h3 class="destinations__heading"><a href="#"> Проктология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img"></div>
        <h3 class="destinations__heading"><a href="#"> Проктология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img"></div>
        <h3 class="destinations__heading"><a href="#"> Проктология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img"></div>
        <h3 class="destinations__heading"><a href="#"> Проктология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img"></div>
        <h3 class="destinations__heading"><a href="#"> Проктология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img"></div>
        <h3 class="destinations__heading"><a href="#"> Проктология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img"></div>
        <h3 class="destinations__heading"><a href="#"> Проктология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img"></div>
        <h3 class="destinations__heading"><a href="#"> Проктология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img"></div>
        <h3 class="destinations__heading"><a href="#"> Проктология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img"></div>
        <h3 class="destinations__heading"><a href="#"> Проктология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img"></div>
        <h3 class="destinations__heading"><a href="#"> Проктология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img"></div>
        <h3 class="destinations__heading"><a href="#"> Проктология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img"></div>
        <h3 class="destinations__heading"><a href="#"> Проктология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img"></div>
        <h3 class="destinations__heading"><a href="#"> Проктология </a></h3>
      </li>
    </ul>
  </div>
</section>
