<section class="destinations">
  <div class="container">
    <h1 class="destinations__title destinations__title--main section-title">
      Направления
    </h1>

    <form class="form-search">
      <div class="form-search__group">
        <input
          class="form-search__input"
          type="text"
          placeholder="Введите название услуги..."
        />
        <div class="form-search__actions">
          <select class="form-search__select select" name="destinations" id="destinations">
            <option value="1">Любое направление</option>
            <option value="1">Любое направление</option>
            <option value="1">Любое направление</option>
          </select>
          <button class="form-search__btn btn" type="submit">Найти</button>
        </div>
      </div>
    </form>

    <ul class="destinations__list">
      <li class="destinations__item">
        <div class="destinations__img">
          <svg width="51" height="51">
            <use xlink:href="images/sprite.svg#digestion"></use>
          </svg>
        </div>
        <h3 class="destinations__heading"><a href="#"> Проктология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img">
          <svg width="51" height="51">
            <use xlink:href="images/sprite.svg#gynecology"></use>
          </svg>
        </div>
        <h3 class="destinations__heading"><a href="#"> Гинекология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img">
          <svg width="51" height="51">
            <use xlink:href="images/sprite.svg#urology"></use>
          </svg>
        </div>
        <h3 class="destinations__heading"><a href="#"> Урология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img">
          <svg width="51" height="51">
            <use xlink:href="images/sprite.svg#pulmonology"></use>
          </svg>
        </div>
        <h3 class="destinations__heading"><a href="#"> Пульмонология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img">
          <svg width="51" height="51">
            <use xlink:href="images/sprite.svg#surgery"></use>
          </svg>
        </div>
        <h3 class="destinations__heading"><a href="#"> Хирургия </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img">
          <svg width="51" height="51">
            <use xlink:href="images/sprite.svg#skin-allergy"></use>
          </svg>
        </div>
        <h3 class="destinations__heading"><a href="#"> Аллергология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img">
          <svg width="51" height="51">
            <use xlink:href="images/sprite.svg#lungs"></use>
          </svg>
        </div>
        <h3 class="destinations__heading"><a href="#"> Отоларингология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img">
          <svg width="51" height="51">
            <use xlink:href="images/sprite.svg#eye"></use>
          </svg>
        </div>
        <h3 class="destinations__heading"><a href="#"> Офтальмология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img">
          <svg width="51" height="51">
            <use xlink:href="images/sprite.svg#neoplasm"></use>
          </svg>
        </div>
        <h3 class="destinations__heading"><a href="#"> Онкология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img">
          <svg width="51" height="51">
            <use xlink:href="images/sprite.svg#cardiology"></use>
          </svg>
        </div>
        <h3 class="destinations__heading"><a href="#"> Кардиология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img">
          <svg width="51" height="51">
            <use xlink:href="images/sprite.svg#dermis"></use>
          </svg>
        </div>
        <h3 class="destinations__heading"><a href="#"> Дерматология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img">
          <svg width="51" height="51">
            <use xlink:href="images/sprite.svg#stethoscope"></use>
          </svg>
        </div>
        <h3 class="destinations__heading"><a href="#"> Терапия </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img">
          <svg width="51" height="51">
            <use xlink:href="images/sprite.svg#ultrasound"></use>
          </svg>
        </div>
        <h3 class="destinations__heading"><a href="#"> УЗИ диагностика </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img">
          <svg width="51" height="51">
            <use xlink:href="images/sprite.svg#analyze"></use>
          </svg>
        </div>
        <h3 class="destinations__heading"><a href="#"> Анализы </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img">
          <svg width="51" height="51">
            <use xlink:href="images/sprite.svg#digestion"></use>
          </svg>
        </div>
        <h3 class="destinations__heading"><a href="#"> Флебология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img">
          <svg width="51" height="51">
            <use xlink:href="images/sprite.svg#vaccines"></use>
          </svg>
        </div>
        <h3 class="destinations__heading"><a href="#"> Вакцинация </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img">
          <svg width="51" height="51">
            <use xlink:href="images/sprite.svg#x-rays"></use>
          </svg>
        </div>
        <h3 class="destinations__heading">
          <a href="#"> Рентенодиагностика </a>
        </h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img">
          <svg width="51" height="51">
            <use xlink:href="images/sprite.svg#caries"></use>
          </svg>
        </div>
        <h3 class="destinations__heading"><a href="#"> Стоматология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img">
          <svg width="51" height="51">
            <use xlink:href="images/sprite.svg#endocrine"></use>
          </svg>
        </div>
        <h3 class="destinations__heading"><a href="#"> Эндокринология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img">
          <svg width="51" height="51">
            <use xlink:href="images/sprite.svg#neuroimaging"></use>
          </svg>
        </div>
        <h3 class="destinations__heading"><a href="#"> Неврология </a></h3>
      </li>
    </ul>
  </div>
</section>
