<section class="destinations">
  <div class="container">
    <div class="destinations__top">
      <h2 class="destinations__title">Наши направления</h2>
      <div class="destinations__text">
        <p>
          Наша клиника предоставляет большой список услуг по разным направлениям
        </p>
      </div>
    </div>

    <ul class="destinations__list">
      <li class="destinations__item">
        <div class="destinations__img"></div>
        <h3 class="destinations__heading"><a href="#"> Проктология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img"></div>
        <h3 class="destinations__heading"><a href="#"> Проктология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img"></div>
        <h3 class="destinations__heading"><a href="#"> Проктология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img"></div>
        <h3 class="destinations__heading"><a href="#"> Проктология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img"></div>
        <h3 class="destinations__heading"><a href="#"> Проктология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img"></div>
        <h3 class="destinations__heading"><a href="#"> Проктология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img"></div>
        <h3 class="destinations__heading"><a href="#"> Проктология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img"></div>
        <h3 class="destinations__heading"><a href="#"> Проктология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img"></div>
        <h3 class="destinations__heading"><a href="#"> Проктология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img"></div>
        <h3 class="destinations__heading"><a href="#"> Проктология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img"></div>
        <h3 class="destinations__heading"><a href="#"> Проктология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img"></div>
        <h3 class="destinations__heading"><a href="#"> Проктология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img"></div>
        <h3 class="destinations__heading"><a href="#"> Проктология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img"></div>
        <h3 class="destinations__heading"><a href="#"> Проктология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img"></div>
        <h3 class="destinations__heading"><a href="#"> Проктология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img"></div>
        <h3 class="destinations__heading"><a href="#"> Проктология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img"></div>
        <h3 class="destinations__heading"><a href="#"> Проктология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img"></div>
        <h3 class="destinations__heading"><a href="#"> Проктология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img"></div>
        <h3 class="destinations__heading"><a href="#"> Проктология </a></h3>
      </li>
      <li class="destinations__item">
        <div class="destinations__img"></div>
        <h3 class="destinations__heading"><a href="#"> Проктология </a></h3>
      </li>
    </ul>
  </div>
</section>
