<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__col">
        <a class="footer__logo logo" href="index.html">
          <img src="images/logo.png" alt="Логотип" />
        </a>
        <div class="footer__socials socials">
          <ul class="socials__list">
            <li class="socials__item">
              <a class="socials__link socials__link--vk" href="#"></a>
            </li>
            <li class="socials__item">
              <a class="socials__link socials__link--instagram" href="#"></a>
            </li>
          </ul>
        </div>
        <div class="footer__actions">
          <a href="#">
            <img
              src="images/content/google-play.png"
              alt="Скачать в google play"
            />
          </a>
          <a href="#">
            <img src="images/content/app-store.png" alt="Скачать в app store"
          /></a>
        </div>
      </div>
      <div class="footer__col">
        <span class="footer__heading">Направления</span>
        <div class="footer__lists">
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#">Проктология</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Гинекология</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Урология</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Пульмонология</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Хирургия</a>
            </li>
          </ul>
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#">Аллергология</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Отоларингология</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Офтальмология</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Онкология</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Кардиология</a>
            </li>
          </ul>
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#">Дерматология</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Терапия</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">УЗИ диагностика</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Анализы</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Флебология</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__col">
        <span class="footer__heading">Комиссия</span>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#">Водительская комиссия А, В</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Водительская комиссия C, D, E</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#"> Оружейная комиссия</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#"> Профосмотр</a>
          </li>
        </ul>
      </div>
      <div class="footer__col">
        <span class="footer__heading">Клиника</span>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#">О клинике</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Персонал</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Прайс - лист</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Лицензии</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Книга отзывов</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__bottom">
      <p class="footer__copy">© 2018 Cеверо-западная Медицинская Клиника</p>
      <div class="footer__right">
        <a href="tel:+78142260303"> 8 (8142) 26 03 03 </a>
        <a href="mailto:szmclinic@gmail.com">szmclinic@gmail.com</a>
        <p>Петрозаводск, ул.Торнева, д.13</p>
      </div>
    </div>
  </div>
</footer>
