<section class="instagram">
  <div class="container container--1600">
    <h2 class="instagram__title section-title">Наш instagram</h2>

    <div class="instagram__content">
      <ul class="instagram__list carousel">
        <li class="instagram__item carousel__slide">
          <a
            class=""
            data-fancybox="instagram"
            data-src="images/content/instagram/1.jpg"
            href="#"
          >
            <img src="images/content/instagram/1.jpg" alt="Инстаграм" />
          </a>
        </li>
        <li class="instagram__item carousel__slide">
          <a
            data-fancybox="instagram"
            data-src="images/content/instagram/2.jpg"
            href="#"
          >
            <img src="images/content/instagram/2.jpg" alt="Инстаграм" />
          </a>
        </li>
        <li class="instagram__item carousel__slide">
          <a
            data-fancybox="instagram"
            data-src="images/content/instagram/3.jpg"
            href="#"
          >
            <img src="images/content/instagram/3.jpg" alt="Инстаграм" />
          </a>
        </li>
        <li class="instagram__item carousel__slide">
          <a
            data-fancybox="instagram"
            data-src="images/content/instagram/4.jpg"
            href="#"
            data-fancybox-group="instagram"
          >
            <img src="images/content/instagram/4.jpg" alt="Инстаграм" />
          </a>
        </li>
        <li class="instagram__item carousel__slide">
          <a
            data-fancybox="instagram"
            data-src="images/content/instagram/5.jpg"
            href="#"
            data-fancybox-group="instagram"
          >
            <img src="images/content/instagram/5.jpg" alt="Инстаграм" />
          </a>
        </li>
        <li class="instagram__item carousel__slide">
          <a
            data-fancybox="instagram"
            data-src="images/content/instagram/6.jpg"
            href="#"
          >
            <img src="images/content/instagram/6.jpg" alt="Инстаграм" />
          </a>
        </li>
        <li class="instagram__item carousel__slide">
          <a
            data-fancybox="instagram"
            data-src="images/content/instagram/7.jpg"
            href="#"
          >
            <img src="images/content/instagram/7.jpg" alt="Инстаграм" />
          </a>
        </li>
        <li class="instagram__item carousel__slide">
          <a
            data-fancybox="instagram"
            data-src="images/content/instagram/8.jpg"
            href="#"
          >
            <img src="images/content/instagram/8.jpg" alt="Инстаграм" />
          </a>
        </li>
      </ul>

      <a class="instagram__btn btn" href="#">Подписаться</a>
    </div>
  </div>
</section>
