<section class="licenses">
  <div class="container">
    <h1 class="licenses__title section-title">Лицензии</h1>

    <ul class="licenses__list">
      <li class="licenses__item">
        <div
          class="licenses-card"
          data-fancybox="responsive"
          data-src="images/content/licenses/1.jpg"
        >
          <div class="licenses-card__img">
            <img src="images/content/licenses/1.jpg" alt="Лицензия" />
          </div>
          <button class="licenses-card__btn">
            <svg width="37" height="37">
              <use xlink:href="images/sprite.svg#search"></use>
            </svg>
            <span>увеличить</span>
          </button>
        </div>
      </li>
      <li class="licenses__item">
        <div
          class="licenses-card"
          data-fancybox="responsive"
          data-src="images/content/licenses/2.jpg"
        >
          <div class="licenses-card__img">
            <img src="images/content/licenses/2.jpg" alt="Лицензия" />
          </div>
          <button class="licenses-card__btn">
            <svg width="37" height="37">
              <use xlink:href="images/sprite.svg#search"></use>
            </svg>
            <span>увеличить</span>
          </button>
        </div>
      </li>
      <li class="licenses__item">
        <div
          class="licenses-card"
          data-fancybox="responsive"
          data-src="images/content/licenses/3.jpg"
        >
          <div class="licenses-card__img">
            <img src="images/content/licenses/3.jpg" alt="Лицензия" />
          </div>
          <button class="licenses-card__btn">
            <svg width="37" height="37">
              <use xlink:href="images/sprite.svg#search"></use>
            </svg>
            <span>увеличить</span>
          </button>
        </div>
      </li>
      <li class="licenses__item">
        <div
          class="licenses-card"
          data-fancybox="responsive"
          data-src="images/content/licenses/4.jpg"
        >
          <div class="licenses-card__img">
            <img src="images/content/licenses/4.jpg" alt="Лицензия" />
          </div>
          <button class="licenses-card__btn">
            <svg width="37" height="37">
              <use xlink:href="images/sprite.svg#search"></use>
            </svg>
            <span>увеличить</span>
          </button>
        </div>
      </li>
      <li class="licenses__item">
        <div
          class="licenses-card"
          data-fancybox="responsive"
          data-src="images/content/licenses/1.jpg"
        >
          <div class="licenses-card__img">
            <img src="images/content/licenses/1.jpg" alt="Лицензия" />
          </div>
          <button class="licenses-card__btn">
            <svg width="37" height="37">
              <use xlink:href="images/sprite.svg#search"></use>
            </svg>
            <span>увеличить</span>
          </button>
        </div>
      </li>
      <li class="licenses__item">
        <div
          class="licenses-card"
          data-fancybox="responsive"
          data-src="images/content/licenses/2.jpg"
        >
          <div class="licenses-card__img">
            <img src="images/content/licenses/2.jpg" alt="Лицензия" />
          </div>
          <button class="licenses-card__btn">
            <svg width="37" height="37">
              <use xlink:href="images/sprite.svg#search"></use>
            </svg>
            <span>увеличить</span>
          </button>
        </div>
      </li>
      <li class="licenses__item">
        <div
          class="licenses-card"
          data-fancybox="responsive"
          data-src="images/content/licenses/3.jpg"
        >
          <div class="licenses-card__img">
            <img src="images/content/licenses/3.jpg" alt="Лицензия" />
          </div>
          <button class="licenses-card__btn">
            <svg width="37" height="37">
              <use xlink:href="images/sprite.svg#search"></use>
            </svg>
            <span>увеличить</span>
          </button>
        </div>
      </li>
      <li class="licenses__item">
        <div
          class="licenses-card"
          data-fancybox="responsive"
          data-src="images/content/licenses/4.jpg"
        >
          <div class="licenses-card__img">
            <img src="images/content/licenses/4.jpg" alt="Лицензия" />
          </div>
          <button class="licenses-card__btn">
            <svg width="37" height="37">
              <use xlink:href="images/sprite.svg#search"></use>
            </svg>
            <span>увеличить</span>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
