<section class="price-list">
  <div class="container">
    <div class="price-list__top">
      <h1 class="price-list__title section-title">Прайс - лист</h1>

      <div class="price-list__right">
        <span class="price-list__choose">Выберите нужное направление</span>
        <select class="price-list__select select">
          <option value="1">Проктология</option>
          <option value="1">Проктология</option>
          <option value="1">Проктология</option>
        </select>
      </div>
    </div>

    <div class="price-list__conteтt">
      <div class="price-list__head">
        <span class="price-list__name">УСЛУГИ ПРОКТОЛОГИИ</span>
        <span class="price-list__price">СТОИМОСТЬ</span>
      </div>
      <ul class="price-list__list">
        <li class="price-list__item">
          <span class="price-list__name">
            Аноскопия с видеоскопическим контролем (ректоскопия)
          </span>
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name">
            Аппликационная анестезия в колопроктологии
          </span>
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name">
            Безоперационное лечение геморроя методом: лигирование 1 стадии
            (комплекс необходимых процедур и манипуляций)
          </span>
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name"
            >Безоперационное лечение геморроя методом: лигирование 2 стадии
            (комплекс необходимых процедур и манипуляций)
          </span>
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name"
            >Безоперационное лечение геморроя методом: лигирование 3 стадии
            (комплекс необходимых процедур и манипуляций)
          </span>
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name"
            >Введение лекарственного препарата ректально
          </span>
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name"
            >Воздействие магнитными полями при нарушениях микроциркуляции, 1
            процедура
          </span>
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name"
            >Дезартеризация 1 геморроидального узла под контролем УЗДГ с
            мукопексией и (или) лифтингом
          </span>
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name"
            >Дезартеризация геморроидальных узлов 1 степени сложности
          </span>
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name"
            >Дезартеризация геморроидальных узлов 2 степени сложности
          </span>
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name"
            >Дезартеризация геморроидальных узлов 3 степени сложности
          </span>
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name">Дивульсия </span>
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name"
            >Динамическое наблюдение врача-колопроктолога, 10 минут
          </span>
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name"
            >Инфильтрационная анестезия в колопроктологии
          </span>
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name"
            >Иссечение анальной бахромки, единичные образования с
            гистологическим исследованием полученного материала
          </span>
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name"
            >Иссечение анальной трещины лазерным методом
          </span>
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name"
            >Иссечение геморроидальных бахромок, единичные образования лазерным
            методом
          </span>
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name"
            >Иссечение неосложненного параректального свища лазерным методом
          </span>
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name"
            >Иссечение неосложненного параректального свища радиоволновым
            методом</span
          >
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name"
            >Иссечение трещины анальной области радиохирургическим методом</span
          >
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name"
            >Коагуляция гемороидального узла радиоволновым методом
          </span>
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name">
            Коагуляция геморроидального узла с применением инфракрасного
            излучения</span
          >
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name">Лазерное облучение крови </span>
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name">
            Лазерное отбеливание/омоложение ануса и перианальной области +
            аутоплазма нативно, 1 процедура</span
          >
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name">
            Лечение спазма анального сфинктера, препарат "Botox" , 1
            единица</span
          >
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name"
            >Лечение тромбоза геморроидальных узлов аппаратом SURGITRON
            (комплекс необходимых процедур и манипуляций)</span
          >
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name"
            >Массаж сфинктера прямой кишки (1 сеанс)</span
          >
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name"
            >Наложение латексного кольца на геморроидальный узел/слизистую, 1
            кольцо</span
          >
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name"
            >Наложение повязки при операциях на прямой кишке</span
          >
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name"
            >Облитерация геморроидального узла ( лазерная)</span
          >
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name"
            >Оперативное лечение единичного неосложненного наружного
            геморроидального узла радиохирургическим методом</span
          >
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name"
            >Пальцевое ректальное исследование</span
          >
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name">Параректальная блокада</span>
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name">Перианальная блокада</span>
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name">Плазмотерапия 1 процедура</span>
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name"
            >Ректальное лазерное воздействие при заболеваниях сигмовидной и
            прямой кишки в колопроктологии, 1 сеанс</span
          >
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name">Ректороманоскопия</span>
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name"
            >Тромбоэктомия радиоволновым методом</span
          >
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name"
            >Тромбэктомия лазерным методом (1 геморроидальный узел)</span
          >
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name"
            >Удаление гипертрофированных анальных сосочков лазерным методом, 1
            элемент</span
          >
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name"
            >Удаление папиллом, кондилом лазерным методом, 1-3 элемента</span
          >
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name"
            >Удаление папиллом, кондилом лазерным методом, более 3
            элементов</span
          >
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name"
            >Удаление папилом, кондилом радиоволновым методом, более 3
            элементов</span
          >
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name"
            >Удаление полипа анальной области с гистологическим исследованием
            полученного материала</span
          >
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name"
            >Удаление сторожевого бугорка лазерным методом с гистологическим
            исследованием полученного материала</span
          >
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name">
            Удаление сторожевых бугорков с гистологическим исследованием
            полученного матиериала</span
          >
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name"
            >Электрофорез c препаратом Димиксид, 1 сеанс</span
          >
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name"
            >Энуклеация тромбированного наружного геморроидального узла лазерным
            методом размерами до 1,5 см</span
          >
          <span class="price-list__price">550 ₽</span>
        </li>
        <li class="price-list__item">
          <span class="price-list__name">
            Энуклеация тромбированного наружного геморроидального узла
            радиоволновым методом размерами до 1,5 см</span
          >
          <span class="price-list__price">550 ₽</span>
        </li>
      </ul>

      <div class="price-list__bottom">
        <button class="price-list__btn btn" type="button">
          Записаться на прием кардиолога
        </button>
      </div>
    </div>
  </div>
</section>
