<section class="reasons">
  <div class="container">
    <h2 class="reasons__title section-title">
      В каких случаях нужна телемедицина?
    </h2>

    <ul class="reasons__list">
      <li class="reasons__item">
        <div class="reasons__top">
          <h3 class="reasons__heading">
            Вы хотите повторный приём провести в онлайн формате
          </h3>
        </div>
        <ul class="reasons__causes">
          <li class="reasons__cause">
            У меня произошло ухудшение состояния на фоне проводимого лечения
          </li>
          <li class="reasons__cause">
            Я закончил курс лечения, что делать дальше?
          </li>
          <li class="reasons__cause">
            Появились новые симптомы, нужно ли корректировать лечение?
          </li>
        </ul>
      </li>
      <li class="reasons__item">
        <div class="reasons__top">
          <h3 class="reasons__heading">
            Вы хотите повторный приём провести в онлайн формате
          </h3>
        </div>
        <ul class="reasons__causes">
          <li class="reasons__cause">
            У меня произошло ухудшение состояния на фоне проводимого лечения
          </li>
          <li class="reasons__cause">
            Я закончил курс лечения, что делать дальше?
          </li>
          <li class="reasons__cause">
            Появились новые симптомы, нужно ли корректировать лечение?
          </li>
        </ul>
      </li>
      <li class="reasons__item">
        <div class="reasons__top">
          <h3 class="reasons__heading">
            Вы хотите повторный приём провести в онлайн формате
          </h3>
        </div>
        <ul class="reasons__causes">
          <li class="reasons__cause">
            У меня произошло ухудшение состояния на фоне проводимого лечения
          </li>
          <li class="reasons__cause">
            Я закончил курс лечения, что делать дальше?
          </li>
          <li class="reasons__cause">
            Появились новые симптомы, нужно ли корректировать лечение?
          </li>
        </ul>
      </li>
      <li class="reasons__item">
        <div class="reasons__top">
          <h3 class="reasons__heading">
            Вы хотите повторный приём провести в онлайн формате
          </h3>
        </div>
        <ul class="reasons__causes">
          <li class="reasons__cause">
            У меня произошло ухудшение состояния на фоне проводимого лечения
          </li>
          <li class="reasons__cause">
            Я закончил курс лечения, что делать дальше?
          </li>
          <li class="reasons__cause">
            Появились новые симптомы, нужно ли корректировать лечение?
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
