<section class="cardiology">
  <div class="container">
    <div class="cardiology__head">
      <h1 class="cardiology__title section-title">Кардиология</h1>

      <button class="cardiology__btn btn" type="button">
        Записаться на прием
      </button>
    </div>

    <div class="cardiology__content">
      <div class="cardiology__top">
        <div class="cardiology__side sidebar">
          <ul class="sidebar__list">
            <li class="sidebar__item">
              <a class="sidebar__link" href="#">
                <span class="sidebar__icon">
                  <svg>
                    <use xlink:href="images/sprite.svg#digestion"></use>
                  </svg>
                </span>
                Проктология
              </a>
            </li>
            <li class="sidebar__item">
              <a class="sidebar__link" href="#">
                <span class="sidebar__icon">
                  <svg>
                    <use xlink:href="images/sprite.svg#gynecology"></use>
                  </svg>
                </span>

                Гинекология
              </a>
            </li>
            <li class="sidebar__item">
              <a class="sidebar__link" href="#">
                <span class="sidebar__icon">
                  <svg>
                    <use xlink:href="images/sprite.svg#urology"></use>
                  </svg>
                </span>

                Урология</a
              >
            </li>
            <li class="sidebar__item">
              <a class="sidebar__link" href="#">
                <span class="sidebar__icon">
                  <svg>
                    <use xlink:href="images/sprite.svg#pulmonology"></use>
                  </svg>
                </span>

                Пульмонология</a
              >
            </li>
            <li class="sidebar__item">
              <a class="sidebar__link" href="#">
                <span class="sidebar__icon">
                  <svg>
                    <use xlink:href="images/sprite.svg#surgery"></use>
                  </svg>
                </span>

                Хирургия</a
              >
            </li>
            <li class="sidebar__item">
              <a class="sidebar__link" href="#">
                <span class="sidebar__icon">
                  <svg>
                    <use xlink:href="images/sprite.svg#skin-allergy"></use>
                  </svg>
                </span>

                Аллергология</a
              >
            </li>
            <li class="sidebar__item">
              <a class="sidebar__link" href="#">
                <span class="sidebar__icon">
                  <svg>
                    <use xlink:href="images/sprite.svg#lungs"></use>
                  </svg>
                </span>

                Отоларингология</a
              >
            </li>
            <li class="sidebar__item">
              <a class="sidebar__link" href="#">
                <span class="sidebar__icon">
                  <svg>
                    <use xlink:href="images/sprite.svg#eye"></use>
                  </svg>
                </span>

                Офтальмология</a
              >
            </li>
            <li class="sidebar__item">
              <a class="sidebar__link" href="#">
                <span class="sidebar__icon">
                  <svg>
                    <use xlink:href="images/sprite.svg#neoplasm"></use>
                  </svg>
                </span>

                Онкология</a
              >
            </li>
            <li class="sidebar__item">
              <a class="sidebar__link sidebar__link--active" href="#">
                <span class="sidebar__icon">
                  <svg>
                    <use xlink:href="images/sprite.svg#cardiology"></use>
                  </svg>
                </span>

                Кардиология</a
              >
            </li>
            <li class="sidebar__item">
              <a class="sidebar__link" href="#">
                <span class="sidebar__icon">
                  <svg>
                    <use xlink:href="images/sprite.svg#dermis"></use>
                  </svg>
                </span>

                Дерматология</a
              >
            </li>
            <li class="sidebar__item">
              <a class="sidebar__link" href="#">
                <span class="sidebar__icon">
                  <svg>
                    <use xlink:href="images/sprite.svg#stethoscope"></use>
                  </svg>
                </span>

                Терапия</a
              >
            </li>
            <li class="sidebar__item">
              <a class="sidebar__link" href="#">
                <span class="sidebar__icon">
                  <svg>
                    <use xlink:href="images/sprite.svg#ultrasound"></use>
                  </svg>
                </span>

                УЗИ диагностика</a
              >
            </li>
            <li class="sidebar__item">
              <a class="sidebar__link" href="#">
                <span class="sidebar__icon">
                  <svg>
                    <use xlink:href="images/sprite.svg#analyze"></use>
                  </svg>
                </span>

                Анализы</a
              >
            </li>
            <li class="sidebar__item">
              <a class="sidebar__link" href="#">
                <span class="sidebar__icon">
                  <svg>
                    <use xlink:href="images/sprite.svg#digestion"></use>
                  </svg>
                </span>

                Флебология</a
              >
            </li>
            <li class="sidebar__item">
              <a class="sidebar__link" href="#">
                <span class="sidebar__icon">
                  <svg>
                    <use xlink:href="images/sprite.svg#vaccines"></use>
                  </svg>
                </span>

                Вакцинация</a
              >
            </li>
            <li class="sidebar__item">
              <a class="sidebar__link" href="#">
                <span class="sidebar__icon">
                  <svg>
                    <use xlink:href="images/sprite.svg#x-rays"></use>
                  </svg>
                </span>

                Рентенодиагностика</a
              >
            </li>
            <li class="sidebar__item">
              <a class="sidebar__link" href="#">
                <span class="sidebar__icon">
                  <svg>
                    <use xlink:href="images/sprite.svg#caries"></use>
                  </svg>
                </span>

                Стоматология</a
              >
            </li>
            <li class="sidebar__item">
              <a class="sidebar__link" href="#">
                <span class="sidebar__icon">
                  <svg>
                    <use xlink:href="images/sprite.svg#endocrine"></use>
                  </svg>
                </span>

                Эндокринология</a
              >
            </li>
            <li class="sidebar__item">
              <a class="sidebar__link" href="#">
                <span class="sidebar__icon">
                  <svg>
                    <use xlink:href="images/sprite.svg#neuroimaging"></use>
                  </svg>
                </span>

                Неврология</a
              >
            </li>
          </ul>
        </div>
        <div class="cardiology__right">
          <div class="cardiology__preview">
            <img src="images/content/cardiology-bg.jpg" alt="Кардиология" />
          </div>
          <div class="cardiology__text">
            <p>
              Индивидуальный прием кардиолога, ЭКГ, анализы, назначение терапии.
            </p>
            <p>
              Высокоточное оборудование позволит вовремя распознать недуг и
              принять необходимые меры по устраннию болезней сердца. Если Вы
              дорожите собственным здоровьем, непременно посетите консультацию
              врача кардиолога.
            </p>

            <p>
              Записаться на прием к специалисту Вы можете по телефону: +7 (8142)
              26-03-03 или на нашем сайте.
            </p>
          </div>
          <div class="cardiology__services">
            <h2 class="cardiology__heading">Перечень услуг</h2>

            <ul class="cardiology__list">
              <li class="cardiology__item">
                <span class="cardiology__name">
                  Консультация врача-кардиолога, первичная
                </span>
                <span class="cardiology__price">от 1 200 ₽ </span>
              </li>
              <li class="cardiology__item">
                <span class="cardiology__name">
                  Консультация врача-кардиолога, первичная
                </span>
                <span class="cardiology__price">от 1 200 ₽ </span>
              </li>
              <li class="cardiology__item">
                <span class="cardiology__name">
                  Консультация врача-кардиолога, первичная
                </span>
                <span class="cardiology__price">от 1 200 ₽ </span>
              </li>
              <li class="cardiology__item">
                <span class="cardiology__name">
                  Консультация врача-кардиолога, первичная
                </span>
                <span class="cardiology__price">от 1 200 ₽ </span>
              </li>
              <li class="cardiology__item">
                <span class="cardiology__name">
                  Консультация врача-кардиолога, первичная
                </span>
                <span class="cardiology__price">от 1 200 ₽ </span>
              </li>
              <li class="cardiology__item">
                <span class="cardiology__name">
                  Консультация врача-кардиолога, первичная
                </span>
                <span class="cardiology__price">от 1 200 ₽ </span>
              </li>
              <li class="cardiology__item">
                <span class="cardiology__name">
                  Консультация врача-кардиолога, первичная
                </span>
                <span class="cardiology__price">от 1 200 ₽ </span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <button class="cardiology__btn cardiology__btn--big btn" type="button">
        Записаться на прием кардиолога
      </button>
    </div>
  </div>
</section>
