<section class="about">
  <div class="container">
    <div class="about__wrapper">
      <div class="about__top">
        <h2 class="about__title section-title">
          Северо-Западная Медицинская Клиника <span>— это</span>
        </h2>
        <span class="about__undertitle">
          молодая, современная, инновационная, многопрофильная клиника
        </span>
      </div>

      <div class="about__text">
        <p>
          Здесь работают врачи высшей категории с большим опытом в медицине. В
          лечении болезней здесь пользуются передовыми технологиями.
        </p>
        <p>
          В Клинике вы найдете более 10 направлений медицинской помощи. Свыше
          2000 видов анализов. УЗИ. ЭКГ. Можете пройти водительскую комиссию и
          профосмотр.
        </p>

        <p>
          Мы гордимся тем, что наша команда – коллектив профессионалов высокого
          уровня. Мы знаем грамотное решение Вашей проблемы.
        </p>
      </div>
    </div>

    <div class="about__preview">
      <div class="about__slider swiper">
        <ul class="about__slides swiper-wrapper">
          <li class="about__slide swiper-slide">
            <div class="about__img">
              <img src="images/content/about/1.jpg" alt="Регистратура" />
            </div>
          </li>
          <li class="about__slide swiper-slide">
            <div class="about__img">
              <img src="images/content/about/1.jpg" alt="Регистратура" />
            </div>
          </li>
          <li class="about__slide swiper-slide">
            <div class="about__img">
              <img src="images/content/about/1.jpg" alt="Регистратура" />
            </div>
          </li>
        </ul>
      </div>

      <button
        class="arrow-next swiper-button-prev"
        type="button"
        aria-label="Прелыдущий"
      ></button>
      <button
        class="arrow-prev swiper-button-next"
        type="button"
        aria-label="Следующий"
      ></button>
    </div>
  </div>
</section>
