<section class="cardiology cardiology--commission">
  <div class="container">
    <div class="cardiology__head">
      <h1 class="cardiology__title section-title">
        Водительская комиссия категория А-В
      </h1>

      <div class="cardiology__head-right">
        <p class="cardiology__price">1600 <span>₽</span></p>
        <button class="cardiology__btn btn" type="button">Записаться</button>
      </div>
    </div>

    <div class="cardiology__content">
      <div class="cardiology__top">
        <div class="cardiology__side sidebar sidebar--notation">
          <ul class="sidebar__list">
            <li class="sidebar__item">
              <a class="sidebar__link" href="#">
                Водительская комиссия (А, В)
              </a>
            </li>
            <li class="sidebar__item">
              <a class="sidebar__link" href="#">
                Водительская комиссия (C, D, E)
              </a>
            </li>
            <li class="sidebar__item">
              <a class="sidebar__link" href="#">Оружейная комиссия </a>
            </li>
            <li class="sidebar__item">
              <a class="sidebar__link" href="#">Профосмотр</a>
            </li>
          </ul>

          <div class="sidebar__notation">
            <h3 class="sidebar__heading">
              При себе необходимо иметь (для граждан с постоянной пропиской
              Республики Карелии:
            </h3>

            <ul class="sidebar__notes">
              <li class="sidebar__note">паспорт</li>
              <li class="sidebar__note">военный билет</li>
              <li class="sidebar__note">амбулаторную карту (желательно)</li>
              <li class="sidebar__note">СНИЛС</li>
              <li class="sidebar__note">очки (при необходимости)</li>
            </ul>

            <button class="sidebar__btn btn" type="button">Записаться</button>
          </div>
        </div>
        <div class="cardiology__right">
          <div class="cardiology__preview">
            <img src="images/content/commission-bg.jpg" alt="Кардиология" />
          </div>
          <div class="cardiology__text">
            <p>
              Мы ценим Ваше время! Именно поэтому получить справку формы 003-В/у
              Вы сможете сразу после комиссии!*
            </p>

            <p>
              *- при условии предварительной оплаты водительской комиссии не
              позднее чем 1за сутки до начла прохождения комиссии (в кассе
              ркгистратуры или через Сбербанк Онлайн)
            </p>

            <p>
              Все специалисты находятся в одном месте, на одном этаже.
              Прохождение не займет много времени и будет комфортным для Вас.
            </p>

            <p>
              Комиссия проходит ЕЖЕДЕНЕВНО (строго по предварительной записи по
              телефону 26-03-03, на нашем сайте или в нашей группе ВК).
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
